/* Mobile First Design for Bento Grid Project */
/* Width of 375px */

/* Global Styles */
* {
    width: 100%;
    font-family: "DM Sans", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

body {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

/* Class Styles */
.page-module {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    background-color: hsl(256, 67%, 59%);
    margin: 15px 5px;
    width: 90%;
}

/* STYLES BY CONTAINER */
/** social-media-ai-container **/
#social-media-ai-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#social-media-ai-container h1 {
    width: 80%;
    font-size: 48px;
    font-weight: 500;
    line-height: 1em;
    color: white;
}

#social-media-ai-container p {
    color: white;
}

#social-media-ai-container span {
    color: hsl(39, 100%, 71%);
}

#social-media-ai-container__img {
    width: 50%;
}

/** manage-multiple-container **/
#manage-multiple-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E1DEE1;
}

#manage-multiple-container h2,
#maintain-posting-container h2 {
    width: 90%;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    line-height: 0.9em;
    letter-spacing: -0.02em;
    margin: 5px 20px 10px 20px;
}

#manage-multiple-container img {
    width: 90%;
    margin: 10px 0;
}

/* maintain-posting-container */
#maintain-posting-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #ffcc68;
}

#maintain-posting-container img {
    width: 50%;
    margin: 0 15px;
}

#maintain-posting-container h2 {
    margin: 15px;
}

/* schedule-to-sm-container */
#schedule-to-sm-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dcd0fc;
}

#schedule-to-sm-container img {
    width: 90%;
}

#schedule-to-sm-container h2 {
    width: 90%;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    line-height: 0.9em;
    letter-spacing: -0.02em;
    margin: 25px 20px;
}

#schedule-to-sm-container p {
    width: 90%;
    font-size: 18px;
    line-height: 1em;
}


/* FE Mentor Provided Styles */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* ID Styles */